@import url('https://fonts.googleapis.com/css?family=Secular+One|Lato');

header {
    background-color: #192D5C;
    font-family: 'Secular One';
    display: grid;
    grid-template-columns: 750px auto auto;
}
nav a {
    color: #E7C24F;
    text-align: center;
    text-decoration: none;
    padding: 60px;
    padding-left: 50px;
}
nav a:hover {
    background-color: #E7C24F;
    color:#192D5C;

}
nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    height: 125px;
}
#home-img1, #home-img2 {
    height: 400px;
    width: 100%;
}
#home-grid {
    display: grid;
    grid-template-columns: auto auto;
}
#toast-img, #meal3-img, #veggie-img {
    height: 400px;
    width: 530px;
}
#top-recipes-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
#recipe-h2 h2 {
    text-align: center;
    padding-top: 30px;
}
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#recipe-list li, h4 {
    padding-left: 100px;

}
#pasta-img, #meal1-img, #meal2-img {
    height: 250px;
    width: 550px;
    padding-top: 45px;
    padding-bottom: 50px;
}
.home {
    margin: 100px;
}
p {
    font-family: 'Lato';
}
h1, h2, h3, h4 {
    font-family: 'Secular One';
    color: #192D5C;
}
footer {
    background-color: #192D5C;
    font-family: 'Secular One';
    color: #E7C24F;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    padding-bottom: 150px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 550px;
    height: 250px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: #A8D5E2;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-back h1 {
    margin-top: 90px;
    margin-left: 25px;
  }
